<!DOCTYPE html>
{%load static%}
<html lang="en" dir="ltr">
    <head>
        <link rel="stylesheet" href="{%static "css/studentloginform.css"%}">
        <title>Student Login Form</title>
    </head>
    <body>

    <div align="center">
        <h1>Student LOGIN Form</h1>
        <hr />
        <form action="/studentloginverifypage/" method="post">
            {{form1.as_ul}}
            {%csrf_token%}
            <input type="submit" name="" id="submit1" value="Submit">
        </form>
    </div>
</body>
</html>

